.red {
	color: red;
}
.yellow {
	color: rgb(255, 255, 0);
}
.green {
	color: rgb(8, 201, 8);
}
.profileContainer {
	background-color: rgba(0, 0, 0, 0.272);
	color: white;
	width: 80%;
	border-radius: 10px;
}

.editingHeader {
	color: #ffffff;
}
