html,
body,
#react-root {
	height: 100%;
	background-image: url('/public/images/949fb1c4a6b9ec235ad36e747fbcf59a.png');
	overflow: hidden;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
	background-color: black;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
}

img {
	display: inline-block;
	max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
	padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
	display: inline-block;
	padding: 10px 20px;
	border-color: #014041;
	border-width: 1px 1px 3px;
	border-radius: 4px;
	background-color: #00acb0;
	color: #f8f8f8;
	font-size: 1.1rem;
	outline: 0;
	cursor: pointer;
}

.btn_sizeMin {
	min-height: 50px;
	min-width: 100px;
}

.btn_sizeSm {
	padding: 10px 15px;
	font-size: 0.8rem;
}

.btn_sizeFull {
	display: block;
	width: 100%;
}

.btn:hover {
	background-color: #008183;
	text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
	padding: 0;
	border-width: 0;
	border-bottom: 1px solid #444;
	border-radius: 0;
	background: none;
	font: inherit;
	color: rgb(72, 133, 255);
}

.btn_asLink:hover {
	background-color: transparent;
	border-color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
	box-sizing: border-box;
	padding: 15px 10px;
	margin: 15px 0;
	border: 2px solid #e01616;
	background-color: #efefef;
	border-radius: 3px;
	color: #e01616;
	font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
	box-sizing: border-box;
	height: 450px;
	width: 550px;
	max-width: 100%;
	padding: 25px;
	margin: 0 auto 20px;
	background-color: #efefef6d;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.formPanelLogin {
	box-sizing: border-box;
	height: 350px;
	width: 500px;
	max-width: 100%;
	padding: 25px;
	margin: 0 auto 20px;
	background-color: #efefef6d;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
	margin: 5px;
	margin-bottom: 10px;
}

.mainContainer {
	background: #f3f4f6;
	grid-area: main;
	overflow-y: auto;
}

.notifications {
	margin-right: 5px;
}

.topBar {
	height: 50px;
	background-color: #959083;
}

.markAsRead {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.notificationCard {
	cursor: pointer;
}

.requestHeader {
	font: 16px;
	font-weight: 800;
	color: black;
}

.acceptButton {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.declineButton {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.addFriendButton {
	cursor: pointer;
	margin-left: 8px;
	color: white;
}

.privateMessageButton {
	cursor: pointer;
	margin-left: 8px;
}

/* From uiverse.io by @mobinkakei */
.inp {
	position: relative;
	margin: 0;
	margin-top: 0;
	width: 100%;
	max-width: 190px;
	border-radius: 3px;
	overflow: hidden;
}

.inp .label {
	position: absolute;
	top: -10px;
	left: 12px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
	transform-origin: 0 0;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
	pointer-events: none;
}

.inp .focus-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.05);
	z-index: -1;
	transform: scaleX(0);
	transform-origin: left;
}

.inp input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 50%;
	border: 0;
	font-family: inherit;
	padding: 16px 12px 0 12px;
	height: 28px;
	font-size: 16px;
	font-weight: 400;
	background: rgb(255, 255, 255);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #000;
	transition: all 0.15s ease;
}

.inp input:hover {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not(:-moz-placeholder-shown) + .label {
	color: rgba(0, 0, 0, 0.5);
	transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:-ms-input-placeholder) + .label {
	color: rgba(0, 0, 0, 0.5);
	transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:placeholder-shown) + .label {
	color: rgba(0, 0, 0, 0.5);
	transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
	outline: none;
	box-shadow: inset 0 -2px 0 #0077ff;
}

.inp input:focus + .label {
	color: #0077ff;
	transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
	transform: scaleX(1);
	transition: all 0.1s ease;
}

.member {
	color: white;
}

.nameText {
	font-weight: 800;
	margin-left: 5px;
	font-size: 18px;
}

.profileName {
	font-weight: 800;
	font-size: 24px;
}

.profileItems {
	font-size: 18px;
}

.aboutPage {
	background-color: rgba(255, 255, 255, 0.803);
	text-align: center;
	list-style-position: inside;
}

.headshot {
	height: 400px;
	width: 500px;
}

.finalWrapper {
	text-align: center;
	color: white;
}
